name: Test for Nico-1824
on: push
jobs:
  my-first-job:
    name: Test job for Nico-1824
    runs-on: ubuntu-latest
    steps:
      - name: Checkout respository
	uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
	with:
	  distribution: 'temurin'
	  java-version : '21'
      
      - name: Setup Gradle
	uses: gradle/actions/setup-gradle@v4
    
      - name: Test the code
	run: ./gradlew run --args="Nico-1824"
